.input-board-container{
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    background-color: white;
}


.input-board-users{
    display: inline-block;
    width: 100%;
    padding-left: 2%;
    margin-top: 1%;
}

.input-board{
    display: inline-block;
    width: 98%;
    margin-bottom: 20px;
    padding-left: 1%;
    padding-right: 1%;
}