.input-board-container{
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    background-color: white;
    z-index: 5;
}


.input-board-users{
    display: inline-block;
    width: 98%;
    padding-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.input-board{
    display: inline-block;
    width: 96%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}


.column-symbol-layout-container, .row-symbol-layout-container{
    /* BENDO: need to fix this */
    width: 76.8%;
    /* height: 300px; */
    position: fixed;
    /* background-color: orange; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
}

.column-symbol-container{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: .5%;
}

.row-symbol-container{
    width: 112%;
    margin-top: 4%;
}


.column-symbol{
    color: red;
    font-size: 2em; 
    text-align: center;
    display: inline-block;
    width: 6%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4.2%;
}

.row-symbol{
    color: blue;
    font-size: 2em; 
    text-align: center;
    display: inline-block;
    width: 4%;
    margin-right: 4.5%;
    margin-bottom: 3.8%;
}

.orange{
    color: orange;
}

.purple{
    color: purple;
}

.cyan{
    color: cyan;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.magenta{
    color: magenta;
}
.black{
    color: black;
}