<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="google" content="notranslate">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap" rel="stylesheet">
    </head>
    
    <body style="max-width:800px; margin: auto; padding: 0px 20px;">

        <div class="headerimage"><img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="cid:AWA-logo-2017.png"></div>

        <div class="emailtitle" style="text-align:center;"><h1 style="font-family: 'Nunito Sans', sans-serif; font-weight:700; color:black;">Thank you for your interest in AWA!</h1></div>

        <div class="mainparagraphs" style="font-family: 'Nunito Sans', sans-serif; font-size: medium; color: grey;">

            <p style="padding-bottom: 20px; text-align: center;">Please see below to learn more about our process and what we do at AWA.</p>

            <div class="pdfcontainer" style="margin-bottom: 175px;">
                <div class="contentIMG" style="float: left; width:300px; vertical-align: top"><img style="width: 100%; height: 100%; object-fit: contain;" src="cid:processemail-1.jpg"></div>
                <div class="descriptionpdf" style="padding-left:350px;">
                <h3 style="color: black;">PRE-DESIGN QUESTIONNAIRE</h3>
                <p>When you're ready to get serious about your dream project, please use our pre-design questionnaire to start identifying
                your goals, preferences, and assumptions for the project you have in mind. This packet is the start of our architectural
                journey and will help ensure that we can achieve your vision as closely as possible.</p>
                <div class="pdflink" style="font-size:small; text-align: right;"><p><a style="color: #B40000; text-decoration-line: none;" target="_blank" href="http://test.awarchitect.com/pdfs/AWA-Predesign-Questionnaire-Form.pdf">CLICK HERE</a></p></div>
                </div>
            </div>

            <div class="pdfcontainer" style="margin-bottom: 50px;">
                <div class="contentIMG" style="float: left; width:300px; vertical-align: top"><img style="width: 100%; height: 100%; object-fit: contain;" src="cid:processemail-2.jpg"></div>
                <div class="descriptionpdf" style="padding-left:350px;">
                <h3 style="color: black;">PROJECT PLANNING PACK</h3>
                <p>We know that remodeling or building your dream home can be daunting. Going forth with a remodel or new build is a
                personal (and expensive) endeavor. At AWA we've created a packet to help answer some big, looming questions that might
                be on your mind. "What's it like to work with an architect?" "How much will it all cost?" "How long will this take?" For
                answers to these questions and more, please use the packet linked below.</p>
                <div class="pdflink" style="font-size:small; text-align: right;"><p><a style="color: #B40000; text-decoration-line: none;" target="_blank" href="http://test.awarchitect.com/pdfs/AWA-Project-Planning-Pack.pdf">CLICK HERE</a></p></div>
                </div>
            </div>

            <p style="text-align: center; display: inline-block; width: 100%;">Stay up to date and sign up for our<a style="color:#B40000; text-decoration-line: none;" target="_blank" href="http://eepurl.com/gKYg6r"> newsletter!</a></p>

        </div>

        <footer style="font-family: 'Nunito Sans', sans-serif; font-style:italic; font-size:x-small; color: grey; margin:auto; padding-top: 30px;">

            <div class="socialicons" style="display: inline-block; margin: 0px 5px; text-align: left;"><a href="https://www.facebook.com/anawilliamsonarchitect"><img style="height: 15px;" src="cid:icon-facebook.png"></a></div>
            <div class="socialicons" style="display: inline-block; margin: 0px 5px; text-align: left;"><a href="https://www.instagram.com/anawilliamsonarchitect/"><img style="height: 15px;" src="cid:icon-instagram.png"></a></div>
            <div class="socialicons" style="display: inline-block; margin: 0px 5px; text-align: left;"><a href="http://www.houzz.com/pro/awarchitect/ana-williamson-architect"><img style="height: 15px;" src="cid:icon-houzz.png"></a></div>
            <div class="socialicons" style="display: inline-block; margin: 0px 5px; text-align: left;"><a href="https://www.pinterest.com/awarchitect/"><img style="height: 15px;" src="cid:icon-pinterest.png"></a></div>
            
            <div class="copyright" style="text-align: right;">&copy; 2019 Ana Williamson Architect</div>
        </footer>

    </body>
</html>