@import '../../assets/styles/base.scss';

.input-container { 
    display: inline-block;
    width: 100%;
}

.input-board {
    display: inline-block;
    width:100%;
    height: 100%;
    background-color: black;

}

.input-button, .input-button-active{
    z-index: 10;
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 9%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: .5%;
    margin-right: .5%;
    cursor: pointer;
    &:hover{
        background-color: lightgrey;
    }
}


.input-button-active{
    background-color: green;

    &:hover{
        background-color: green;
    }
}
