body{
    background-color: black;
    font-family: 'dos-is09'
}

/* @font-face {
    font-family: "nec";
    src: url("./Web437_NEC_MultiSpeed.woff") format('woff');
} */

/* @font-face {
    font-family: "dos-jpn";
    src: url("./Web437_DOS-V_re_JPN16.woff") format('woff');
} */

@font-face {
    font-family: "dos-is09";
    src: url("./Web437_IBM_DOS_ISO9.woff") format('woff');
}

*:focus{
    outline: none;
   }

.request-response-container{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 4%;
    text-align: center;
    font-size: 20px;
}


#input-field{
    width: 100%;
    height: 200px;
    font-size: 100px;
    font-weight: bold;
    padding-left: 50px;
    margin-top:80px;
    color: cyan;
    text-transform: uppercase;
    border: solid white 1px ;
    background-color: black;
    font-family: 'dos-is09';
}

#waiting-text{
    margin-top: 170px;
    font-size: 45px;
    color:red;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    /* text-align: center; */
    opacity: .5; /* Firefox */
  }

.youtube-embed{
    width:90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}

#response-helper-text{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    /* color: grey; */
}

#response-helper-text-big{
    margin-top: 0px;
    font-size: 60px;
    color: white;
    /* color: grey; */
}

.step-instructions{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: inline-block; */
}

#ai-games{
    font-size: large;
}

.step-container{
    display: none;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}


/* /////////////////////  */

#animation{
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    /* display: block; */
    display: none;
  }
  
  .paddle, .player_two, .player_one {
    height: 40px;
    width: 3px;
    background-color: white;
    position: relative;
  }
  
  .player_one {
    left: -180px;
    animation: movePaddleOne 4s infinite;
  }
  
  .player_two {
    left: 20px;
    animation: movePaddleTwo 4s infinite;
  }
  
  .ball {
    position: relative;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    animation: moveBall 4s infinite linear;
  }
  
  @keyframes movePaddleOne {
    0%, 100% {
      transform: translate(0px, 100px);
    }
    25% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    75% {
      transform: translate(0px, 100px);
    }
  }
  @keyframes movePaddleTwo {
    0%, 100% {
      transform: translate(0px, -50px);
    }
    25% {
      transform: translate(0px, 10px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    75% {
      transform: translate(0px, 50px);
    }
  }
  @keyframes moveBall {
    0%, 100% {
      transform: translate(-180px, 30px);
    }
    25% {
      transform: translate(18px, -25px);
    }
    50% {
      transform: translate(-180px, -55px);
    }
    75% {
      transform: translate(18px, 15px);
    }
  }