.request-response-container{
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}


#input-field{
    width: 100%;
    margin-top: 5%;
    font-size: 20px;
}

.youtube-embed{
    width:50%;
    height: 60%;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 5%;
    text-align: center;
}

#response-helper-text{
    margin-top: 10px;
    font-size: 15px;
    /* color: grey; */
}

.step-instructions{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: inline-block; */
}

#ai-games{
    font-size: large;
}

.step-container{
    height: 100px;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}