.input-board-button{
    color: white;
    font-size: 25px; 
    text-align: center;
    display: inline-block;
    width: 6%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: black;
    z-index: 10;
    position: relative;

}

/* .input-board-button:hover {
  background-color: rgb(54, 54, 54);
  cursor: pointer;
} */