.input-board-button{
    color: white;
    font-size: 35px; 
    text-align: center;
    display: inline-block;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: black;

}

.input-board-button:hover {
  background-color: rgb(54, 54, 54);
  cursor: pointer;
}